.coursegrid {
    width: 60vw;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 1vw;
    grid-row-gap: 1vw;
    margin: auto;
}

.coursebox {
    background-color: rgb(194, 0, 0);
    height: 250px;
    width: 250px;
    text-align: center;
}

.courselogo {
    border-radius: 500px;
    height: 150px;
    width: 150px;
}

@media (max-width: 980px) {
    .coursegrid {
        grid-template-columns: auto;
    }
}

.buttons {
    padding: 20px 0 40px;
}

.button {
    transition: all .2s ease-in-out;
    -webkit-appearance: none;
    border-radius: 100px;
    font-family: inherit;
    appearance: none;
    background: none;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
    padding: 20px;
    outline: none;
    opacity: 0.4;
    border: none;
    color: rgb(0, 0, 0);
}

.button:hover,
.button.active {
    opacity: 1;
}

.hide {
    display: none;
}